#albumContainer {
    display: flex;
    flex-wrap: wrap; /* Permette di andare a capo se necessario */
    gap: 1rem; /* Spazio tra le card */
}

.hero-card {
    position: relative;
    width: 100%;
    max-width: 20vw; /* Imposta la larghezza massima per schermi grandi */
    aspect-ratio: 1 / 1; /* Mantiene un rapporto di aspetto 1:1 */
    overflow: hidden; /* Nasconde il contenuto in eccesso */
    box-shadow: 0 4px 8px rgba(236, 29, 36, 1);
    font-family: marvel-font, serif;
}

.hero-card.clickable:hover {
    transform: scale(1.05);
}

.clickable-img:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.clickable-img.disabled {
    filter: grayscale(100%);
    pointer-events: none;
    transform: none;
}

.hero-card.disabled {
    background-color: grey;
    filter: grayscale(100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    pointer-events: none;
    transform: none;
}

.hero-card img {
    object-fit: cover; /* Adatta l'immagine al contenitore mantenendo le proporzioni */
    width: 100%;
    height: 100%;
}

.overflow-chip {
    font-family: serif;
    width: 40px;
    height: 40px;
    background-color: #ec1d24;
    transition: transform 0.2s, background-color 0.2s
}

.text-stroke {
    color: white; /* Colore del testo interno */
    -webkit-text-stroke: 0.02rem black; /* Spessore e colore dello stroke */
    font-weight: bold; /* Optional: rende il testo più marcato */
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    background-color: #af0d14;
    transform: scale(1.1);
}

.clickable:active {
    transform: scale(0.95);
}

.mt-4h {
    margin-top: 2rem;
}

.hero-label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ec1d24;
    color: white;
    padding: 0.5rem;
    box-sizing: border-box;
    display: flex;
    text-transform: uppercase;
    font-size: clamp(1vw, 1.5rem, 2vw);
    align-items: center;
    gap: 0.2rem;
}

.hero-card-disabled #level {
    display: none;
}

.marvel-label {
    background-color: #ec1d24;
    color: white;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    font-family: marvel-font, serif;
    text-align: center;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}


/* Media Queries per schermi più piccoli */
@media (max-width: 768px) {
    .hero-card {
        max-width: 30vw; /* Adatta la larghezza per schermi medi */
    }
}

@media (max-width: 576px) {
    .hero-card {
        max-width: 100%; /* Adatta la larghezza per schermi piccoli */
    }
}

.prova {
    border-left: 2px solid #ec1d24;
    border-bottom: 2px solid #ec1d24;
    border-right: 2px solid #ec1d24;
    padding: 0.6rem;
}

.profile-img {
    width: 75px;
    height: 75px;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #ec1d24; /* Colore di sfondo per l'icona */
    border-radius: 50%; /* Forma rotonda dell'icona */
}

