.navbar-brand {
    padding-left: 0.4rem;
}

.navbar-nav .nav-link {
    color: white;
    padding-left: 0.4rem;
}

.navbar-nav .nav-link:hover {
    color: #ec1d24;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.nav-item .nav-link {
    cursor: pointer;
}

.nav-item.active .nav-link {
    border-bottom: 3px solid #ec1d24;
    padding-bottom: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

